<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head'); %>
  </head>
  <body class="container">
    <header><a href="/contact">Contact US</a><%- include('./navbar'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Hello in there!</h1>
        <h4>This is the Conatct Page</h4>
        <img src="/views/download.jpg" alt="hello it's me">
      </div>
    </main>
  </body>
</html>