<nav class="menu">
    <ul class="menu-items">
      <li class="menu-item">
        <a class="menu-link" href="/Home">Home</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/ourServices">Our Services</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/contactUS">Contact Us</a>
      </li>
    </ul>
  </nav>